@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0A0A0B] text-[#e5e2e1] font-['Inter'] m-0 p-0 h-screen w-screen overflow-hidden;
  }

  #__nuxt {
    width: 100%;
    height: 100%;
  }
}

.aspect-16-9-container {
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
    cursor: none;
}

.panel {
    background-color: #141313;
    border: 1px solid #1C1C1E;
    border-radius: 0.125rem;
    padding: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.ticker-panel {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.hero-panel {
    flex: 1;
}

