name: "Run Fetch Data"

on:
  schedule:
    - cron: "40 16 * * *"
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: szymonskrzypczyk/inzynierka:latest
          load: true

      - name: Run Docker container
        run: |
            docker run --rm \
            -e DROPBOX_APP_KEY=${{ secrets.DROPBOX_APP_KEY }} \
            -e DROPBOX_APP_SECRET=${{ secrets.DROPBOX_APP_SECRET }} \
            -e DROPBOX_REFRESH_TOKEN=${{ secrets.DROPBOX_REFRESH_TOKEN }} \
            szymonskrzypczyk/inzynierka:latest
